{% extends "layout.html" %}
{% block content %}

<h2> Tervetuloa LTAL-keskustelupalstalle!</h2> 
<h3>Keskustelualueet:</h3>
{% for category in categories %}
<div class="posts">
    <a href="/category/{{ category['id'] }}">{{ category['category'] }}</a>
</div>
{% endfor %}
{% if session.user_id %}
<div class="bottom_text_input">
    <h3>Luo uusi keskustelualue:</h3>
    <form action="/newcategory" method="POST">
        Aihe: <br>
        <textarea name="category" rows="1" cols="40"></textarea>
        <br>
        <input type="submit" value="Lähetä">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        </form>
</div>
<p>
{% endif %}
{% endblock %}