
{% extends "layout.html" %}
{% block content %}

<div class="topnav">
    <a href="/">Etusivulle</a>
    <a href="/login">Kirjaudu sisään</a>
    <a href="/register">Rekisteröinti</a>
</div>
Kerro jotain kivaa:
<form action="/send" method="POST">
    Aihe: <br>
    <textarea name="title" rows="1" cols="40"></textarea>
    <br>
    Viesti: <br>
    <textarea name="content" rows="3" cols="40"></textarea>
    <br>
    <input type="submit" value="Lähetä">
    </form>

<p>
<p>
<div class="footer">
    <a href="/logout">Kirjaudu ulos</a>
    <br>
</div>
{% endblock %}
